*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  background-color: #393E46;
}

.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 2fr, 1fr, 2fr, 0.5fr;
  padding: 100;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  grid-column: span 2;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.dice{
  text-align: center;
  display: inline-block;
}

img {
  width: 80%;
}

.footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  grid-column: span 2;
}

